/* hervetica */
@font-face {
    font-family: 'Helvetica Neue LT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Light'), url('../hervetica/Neue LT 45 Light.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue LT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Medium'), url('../hervetica/Helvetica Neue LT 65 Medium.woff') format('woff');
}
    
@font-face {
    font-family: 'Helvetica Neue LT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Bold'), url('../hervetica/Helvetica Neue LT 75 Bold.woff') format('woff');
}

/* gotham */
@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('../gotham/GothamPro-Black.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Rounded Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Rounded Light'), url('../gotham/GothamPro-Light.woff') format('woff');
}
