// Typography
@mixin title($color) {

}

@mixin subtitle-title($color) {
    
}

@mixin paragraph($color) {
    
}

// flexbox
@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-between($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-end($direction) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-start($direction) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}